body {
    background: red;
}

@media (max-width: 480px) {
        h1 {
        font-size: 1em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        background: green;
    }
    
        h1 {
        font-size: 3em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background: yellow;
    }
    
        h1 {
        font-size: 5em;
    }
       
    nav {
        display: inline-block;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background: black;
        color: #fff;
    }
    
    h1 {
        font-size: 7em;
    }
}

    nav {
        display: inline-block;
}

h1 {
    font-family: 'Yeon Sung', cursive;
}

body {
    font-family: 'Oswald', sans-serif;
}

hero {
    background: '/images/hero.jpg'
}