body {
    margin: 0;
}

/*#### The Logo ####*/
/*#### Very Old school ####*/

.site-id {
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

.logo {
    margin-left: 3%;
}

.site-title {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	height: 100%;
    flex-grow: 1;
}

/*#### Navigation ####*/

header{
   align-items: center; 
}

header>nav{
	width: 100%;
	height: auto;
    margin-right: 3%;
}



header>nav>ul>li{
	list-style-type: none;

}

header>nav>ul>li>a{
	text-decoration: none;
	color: black;
	padding: 2em;
	padding-top: 0em;
	padding-bottom: 1em;
	font-weight: bold;

}

header>nav>ul>li>a:hover{
/*	border-bottom:5px lightslategray solid;*/
    background-color: #F3F3F3;
}

header>nav>ul>li:first-child>a:hover{
/*	border-bottom:5px red solid;*/
}


/*#### Columns ####*/
/*#### reading ####*/

.main-content {
	-webkit-columns: 4;
	-moz-columns: 4;
	columns: 4;
  padding: 5% 10px;
	clear: both;
}

.main-content p {
  padding-bottom: 20px;
}

/*#### Teaser List ####*/
/*#### Homepage ####*/

.teaser-list {
  display: flex;
  flex-wrap: wrap;
}

.product-list-item>figure>h3{
	font-size: 3em;
}

.product-list-item {
  padding: 20px 10px;
  width: 25%;
  box-sizing: border-box;
}

.product-list-item img {
  padding-top: 10px;
  width: 100%;
}

.product-list-item p {
  padding-bottom: 20px;
}

#boss{
  color: #333;
  padding: 8px;
  /* box-shadow: 0 -14px 0 #00FFA7 inset; */
  transition: box-shadow .4s;
	position: relative;
	z-index: 2;
}

#boss::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 20%;
	background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	bottom: 30%;
	left: 0;
	transition: .3s;
	z-index: -1;
}

#boss:hover::before{
  /* box-shadow: 0px -3em 0 #00FFA7 inset;
  transition: box-shadow .4s ease-in; */
	height: 50%;
}

/*### dossier-top Styles ###*/

.dossier-top {
  display: inline;
  vertical-align: middle;
}

.dossier-top img {
  float: left;
  width: 50%;
}

.dossier-top-content {
  text-align: center;
}

.strip-image img {
  width: 100%;
  background-size: contain;
  height: 100px;
}

/*### FOOTER Styles ###*/


 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
}

.contact-content p {
    font-size: 15px;
    position: relative;
}

hr {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
    margin-top: 2%;
}

.footer {
    background: #1A1E25;
    color: #868c96;
    display: block;
}

.footer p {
    padding: 40px 0;
    margin: 0;
    text-align: center;
}

.footer h1 {
    color: white;
    padding-top: 4%;
}

.footer-link {
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer-link:hover {
    color: grey;
    font-size: 15px;
    font-weight: 400;
}
/* INTEGRATION BURGER MENU */

/* Style */

.menu-toggle .burger-breads span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  z-index: 1;
}

.menu-close .burger-breads span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(127,140,167);
}

.menu-close .burger-breads span:nth-child(2) {
  transform: rotate(135deg) translate(-6px, 9px);
}

.menu-close .burger-breads span:nth-child(3) {
    opacity: 0;
}

.menu-toggle {
  display: inline-block;
  padding: 1em;
}

.main-menu {
  position: absolute;
  left : -200px;
  top: 0;
  bottom:0;
  height: 100%;
  width: 200px;
  transition: left O.3s ease, box-shadow 0.3s ease;
  background-color: white;
  z-index: 999;
}

.main-menu ul {
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 200px;
  background: (41,46,56);
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size:1em;
  color: black;
  text-decoration: none;
    color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
  padding: 15px;
}

.main-menu ul a:after {
  content: "";
	position: absolute;
	height: 2px;
	background-color: green;
	width: 0;
	left: 50%;
	bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.main-menu li a {
  border-top: 1px solid rgb(127,140,167);
  color: black;
}
.main-menu a:hover,
.main-menu a:focus {
    color: black;
}

.main-menu a:hover::after,
.main-menu a:focus::after {
    width: 100%;
}


.main-menu .menu-close {
  position: absolute;
  right: 0;
  top:10px;
  border-bottom: 1px solid transparent;
}

.main-menu:target {
    display: block;
    left: 0;
    outline: none;
    box-shadow: 3px 0 12px rgba (0,0,0.25);
}

.main-menu:target .menu-close {
    z-index: 1001;
}

.main-menu:target ul {
    position: relative;
    z-index: 1000;
}

.main-menu:target + backdrop {
    position: absolute;
    display: block;
    left: 0;
    top 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,0.85);
}

h2 {
    font-weight: bold;
}

.profile {
    margin-left: 60%;
    margin-right: 10%;
} 

.profile p,h2 {
    color: black;
} 
    
/*    MEDIA QUERIES    */
    
@media screen and (min-width: 992px) {
  .hero {
      background-image: url(../images/hero/0.jpg);
  }
}

@media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }
    
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
        width: auto;
        display: block;
        background-color: transparent;
    }
    
    .main-menu ul {
        display: flex;
        padding: 0;
        height: auto;
        width: auto;
        background: none;
    }
    
    .main-menu a {
        color: black;
        border : 0 !important;
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
        background: none;
        color: green;
    }
    
    header>nav>ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
    
    nav {
        margin-right: 0%;
    }

}

.bouton {
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  text-align: center;

}

.bouton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
      transition: 0.5s;
}

.bouton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bouton:hover span {
  padding-right: 25px;
}

.bouton:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 992px) {
    .hero {
      background-image: url(../images/hero/1.jpg);
  }
    
    .profile {
        display: inline-block;
        margin: 5%;
  } 
    
    .dossier-top img {
        width: 100%;
  } 
}

/* switching box model for all elements */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* layout */
.wrapper {
  max-width:980px;
  margin: 20px auto;
  display: block;
}

/* gallery */
.pict {
   min-width: 25%;
   min-height: 200px;
   background: #666;
   float:left;
   /*display:inline-block;
   vertical-align:top;
   margin-right:-4px;*/
   border: 1px solid #fff;
    	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.pict:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.p1 {
    background-image: url(../images/lg/lg-image-01.jpg);
    background-size: cover;
}


.p2 {
    background-image: url(../images/lg/lg-image-03.jpg);
    background-size: cover;
}


.p3 {
    background-image: url(../images/lg/lg-image-02.jpg);
    background-size: cover;
}


.p4 {
    background-image: url(../images/lg/lg-image-04.jpg);
    background-size: cover;
}


.p5 {
    background-image: url(../images/lg/lg-image-05.jpg);
    background-size: cover;
}


.p6 {
    background-image: url(../images/lg/lg-image-06.jpg);
    background-size: cover;
}


.p7 {
    background-image: url(../images/lg/lg-image-07.jpg);
    background-size: cover;
}


.p8 {
    background-image: url(../images/lg/lg-image-01.jpg);
    background-size: cover;
}


.p9 {
    background-image: url(../images/lg/lg-image-02.jpg);
    background-size: cover;
}


.p10 {
    background-image: url(../images/lg/lg-image-03.jpg);
    background-size: cover;
}


.p11 {
    background-image: url(../images/lg/lg-image-04.jpg);
    background-size: cover;
}

.p12 {
    background-image: url(../images/lg/lg-image-05.jpg);
    background-size: cover;
}

.line {
   &:nth-child(even) {
      .pict {
         &:nth-child(odd) {
           height:300px;
           margin-top: -100px;
         }
         &:nth-child(even) {
           background:red;
         }
      }
   }
   &:nth-child(odd) {
      .pict {
         &:nth-child(odd) {
           background:green;
         }
         &:nth-child(even) {
           height:300px;
         }
      }
   }
}
  

/* entry animations */

@keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade-1 {
    animation-name: reset, fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.fade-2 {
    animation-name: reset, fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}


@media screen and (max-width: 768px) {
    .hero {
      background-image: url(../images/hero/0.jpg);
  }
}

    @media screen and (max-width: 600px) {
  .hero {
      background-image: url(../images/hero/1.jpg);
  }
}